<!-- HEADER -->
<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>
      Trending Movies
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- SEARCH BAR -->
  <ion-searchbar
    [(ngModel)]="searchTerm"
    (ionInput)="onSearchChange()"
    placeholder="Search for a movie..."
  ></ion-searchbar>

  <!-- lOADING SKELETON -->
  @if (isLoading){ <!-- Conditional directive to check if data is currently loading --> 
    <ion-list>
      @for(i of dummyArray; track i){   <!-- Loop directive to create a list of loading skeletons -->
        <ion-item lines="none" class="ion-padding-bottom">
          <ion-avatar slot="start">
            <ion-skeleton-text></ion-skeleton-text>
          </ion-avatar>
          <ion-skeleton-text animated style="height:40px"></ion-skeleton-text>
        </ion-item>
      }
    </ion-list>
  } @else if (error){ <!-- Conditional directive to check if there was an error -->
    <ion-alert header="Error" [message]="error" isOpen="true" [buttons]="['Ok']"></ion-alert> 
  }

<!-- MOVIE LIST -->
  <ion-list>
    @for(item of filteredMovies; track item.id){ <!-- Loop directive to iterate over filteredMovies and display each movie item -->
      <ion-item button [routerLink]="['/details', item.id]"> <!-- Navigation link: directs to the movie details page when the item is clicked -->
        <ion-avatar slot="start">
          <img [src]="imageBaseUrl + '/w92' + item.poster_path" alt="poster" />
        </ion-avatar>
        <ion-label class="ion-text-wrap">
          <h3>{{item.title}}</h3>
          <p>{{ item.release_date | date:'y' }}</p>
        </ion-label>
        <ion-badge slot="end"> {{ item.vote_average }}</ion-badge>
      </ion-item>
    } @empty { <!-- Conditional directive to handle the case when no movies are available -->
      @if (!isLoading){ <!-- Additional check to ensure that it only shows the message when not loading -->
        <ion-item lines="none">
          <ion-label class="ion-text-center">No Movies Found</ion-label>
        </ion-item>
      }
    }
  </ion-list>

  <!-- INFINITE SCROLL LOADER -->
  <ion-infinite-scroll (ionInfinite)="loadMore($event)"><!-- Event binding: triggers the loadMore method when the user scrolls to the bottom of the page -->
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>